*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	line-height:1.5;
	font-family: 'Playfair Display', serif;
}
.row, .row::after, .row::before{
	clear:both;
	width:100%;
	display:table;
}
.heroimage{
	padding:70px 0px 120px ;
}
.container{
	width:1180px;
	margin:0 auto;
}
a:link, .a:hover, .a:focus, .a:active{
	text-decoration:none;
}
ul{
	list-style:none;
}
.mr-0{
	margin-right:0 !important;
}
.pr-0{
	padding-right:0 !important;
}
.ml-0{
	margin-left:0 !important;
}
.pl-0{
	padding-left:0 !important;
}
.ml-1col{
	margin-left:calc(100% / 12);
}
.ml-4col{
	margin-left:calc(100% * 4 / 12);
}
.w-100{
	width:100%;
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
div[class^="col"]{
	float:left;
}
.col3{
	width:25%;
}
.col9{
	width:75%;
}
.col12{
	width:100%;
}
.col10{
	width:calc(100* 10/ 12);
}
.col5{
	width:calc(100% * 5 / 12);
}
.col4{
	width:calc(100% * 4 / 12);
}
.col6{
	width:50%;
}
.mb-80{
	margin-bottom:80px;
}
.mb-95{
	margin-bottom:95px;
}
.mb-30{
	margin-bottom:30px !important;
}
.mb-35{
	margin-bottom:35px;
}
.mb-135{
	margin-bottom:135px;
}
.mb-130{
	margin-bottom:130px;
}
.mb-100{
	margin-bottom:100px;
}
.mb-50{
	margin-bottom:50px;
}
.navbar{
	min-height:34px;
	height:34px;
}
.navbar li{
	display:inline-block;
	margin:0 30px;
}
.navbar li a{
	display:inline-block;
	padding:0 30px;
	color:#626262;
	font-size:14px;
	text-transform:uppercase;
	cursor:pointer;
}
.navbar li a:hover,
.navbar li a:focus,
.navbar li a:active{
	color:blueviolet;
}
.secheading{
	color:#b4ad9e;
	font-size:14px;
	text-transform:uppercase;
}
.secsubheading{
	color:#626262;
	font-size:30px;
}
.info{
	color:#626262;
	font-size:14px;
}

.signup{
	background-color:#f0f0f0;
	padding:70px 0 70px;
}
.signUpHeading{
	color:#333333;
	font-size:30px;
	margin-bottom:80px;
}
.email{
	width:100%;
    padding: 15px 5px;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: transparent;
	outline:0;
}
.form-group{
	position:relative;
}
.submit{
		position:absolute;
		right:5px;
		top:20px;
		transform:rotate(45deg);
}
.thublitfstyle{
	padding:100px 0 90px;
}
.btn{
	padding:30px  35px;
	border:1px solid #626262;
	color:#626262;
	font-size:16px;
	margin-top:35px;
	background-color:#fff;
}
.btn:hover,
.btn:focus,
.btn:active{
	background-color:#626262;
	color:#fff;
}
.footernav li{
	display:inline-block;
	margin-right:45px;
}
.footer li a{
	color:#000000;
	display:inline-block;
	cursor:pointer;
}
.footer li a:hover{
	color:blue;
}
.footer li i{
	font-size:25px;
}
.footer{
	background-color:#f0f0f0;
	padding:40px 0 45px;
}
